*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

li a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300px;
    color: black;
}


header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px 3%;   
    
}

.logo{
    cursor: pointer;
    width: 100px;
}

.navlinks{
    list-style: none;

}

.navlinks li{
    display: inline-block;
    padding: 0 20px;
    
}

.navlinks li a{
    transition: all .3s ease 0s;
}

.navlinks li a:hover{
    transition: all .3s ease 0s;
}

.navlinks li a{

    background-color: white;
    padding: 9px 25px;
    border-radius: 10px;
    
}

.navlinks li a:hover{
    color:#826268;
    font-weight:bolder;
    
}

.imageofme{
    display: flex;
    float: right; 
    padding: 20px 4.5%;
    
}

.myName{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-150%) translateX(-20%);
    font-size:x-large;
    background-color: #826268;
    background-image: linear-gradient(45deg, #826268, #CCA2A2);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}



.lineskill{
    padding: 30px;
    width: 1470px;
    justify-content:center;
    align-self:center;
    display: flex;
    transform: translateY(95px);
    font-size: 35px;
    font-weight: bolder;
    
}
.lineskill1{
    height: 450px;
    padding: 30px;
    width: 1390px;
    justify-content:center;
    align-self:center;
    display: flex;
    transform: translateY(65px) translateX(35px);
    background-color:#CCA2A2;
    border-radius: 20px;
}

.MUXS{
    float: right;
    font-size: 30px;
    font-weight: bolder;
    transform: translateX(340%)
}


hr{
    margin:0 2%;
    transform: translateY(60px);
}

.images{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 85%;
    list-style-type: none;
    transform: translateY(15px) translateX(100px);
}

.threeImg{
    flex: 33.33%;
   transform: translateX(-90px);

}

.text{
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateX(-100px) translateY(10px);
   font-weight: bold;
   font-size: 25px
}

.para{
    display: block;
    justify-content:right;
    /* padding: 20px;
    height: 90px; */
    /* background-color:#826268;
    border-color: #826268; */
    transform: translateX(-65px) translateY(15px);
    width: 300px;
    font-weight: normal;
    font-size:18px ;
    padding: 10px;
}

.projectImg1{
    background-color: #269992;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    /* width: 100%; */
    margin: 40px;
    transform: translateY(50px);
    border-radius: 20px;

}

.projectImg2{
    background-color: #4392C0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    /* width: 100%; */
    margin: 40px;
    transform:  translateY(50px);
    border-radius: 20px;
}
 
.depofE{
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 30px;
    transform: translateX(100px);
    width: 1000px;
   
}

.proj1{
    transform: translateX(50px);
    width: 40%;
}

.para1{
    max-lines: 5;
    display: flex;
    justify-content:end;
    width: 500px;
    font-size: 18px;
    
    /* line-height: 1.1 ;

    /* max-height: calc( var(max-lines) * 1em * var(line-height));
    line-height: var(line-height);
    position: relative; */ 

    transform: translate(-462px,60px);


    /* display:-webkit-box;
    justify-content: left;
    text-align: left;
    transform: translate(-200px,70px);
    background-color: aliceblue;
    --max-lines: 3; 
    -webkit-box-orient: horizontal; */
}

.proj2{
    transform: translateX(-180px);
    width: 30%;
}

.modNeed{
    display: flex;
    justify-content: center;
    text-align: Center;
    font-size: 30px;
    transform: translateX(50px);
    width: 1000px;
}

.para2{
    max-lines: 5;
    display:flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    transform: translateY(50px) translateX(-422px);
}

.VAP{
    padding: 100px;
    justify-content:center;
    align-self:center;
    display: flex;
    transform: translateX(145px) translateY(-30px);
    font-size: 30px;
    border-color: #826268;
    height: 20px;
    width: 1200px;
    
}

.link{
    display: flex;
    /* justify-content: end;
    align-items: center; */
    transform: translateX(320px) translateY(-40px);
    padding: 15px;
    width: 70%;

}

.Ins{
    display: flex;
    /* justify-content: end;
    align-items: center; */
    transform: translateX(320px) translateY(-40px);
    padding: 15px;
    width: 70%;

}

li{
    float: left
}

.foot{
    background-color: #826268;
    height: 170px;
    
   
    
}

.resume{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.CSH{
    float: right;
    transform: translateX(-930%) translateY(220%);
    /* justify-content: end;
    align-items: center; */
   /* transform: translateX(300px); */
    font-size: 20px;
    font-weight: bold;
}

.contact{
   float: right;
   transform: translateX(-600%) translateY(-220%);
   font-size:20px ;
   font-weight: bold;
}

.email{
    float: right;
    transform: translateX(-400%) translateY(-125%);
}

.resume{
    float: right;
    transform: translateY(-100%) translateX(60px);
    font-size: 20px;
    font-weight: bolder;
    background-color: #CCA2A2;
    border: none;
    color: white;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 20px;
    transition: 0.2s;
}


.logo{
   transform: translateX(50px) translateY(29px);
}

.loader{
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn) ;
    }
}